h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.orange-color{
    color: orange;    

}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.flexible-container{ 
    display: flex;
  
}
.half-width{
    width: 50%;
    padding: 10%;   
}
.hire-button{
    text-decoration: none;
    background-image:linear-gradient(salmon,orange);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/hello-image\ \(4\).jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-banner{
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.pink-color{
    color:rgb(218, 60, 112);
    font-size: 50px;
    font-weight: 700;
}
.resume-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(202, 87, 150),rgb(87, 6, 40));
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.experience-area{
    background-image: url("images/hello-image\ \(4\).jpg");
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
}
.experience-item{
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5%;
    box-shadow: 10px 10px 40px rgb(228, 217, 72);
    border-radius: 5%;
}
footer{
    text-align: center;
    background-color: black;
    color:blanchedalmond;
    font-size: 100%;
}