h1{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.orange-color{
    color: orange;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

section{ 
    display: flex;
  
}
.half-width{
    width: 50%;
    padding: 10%;   
}
.hire-button{
    text-decoration: none;
    background-image:linear-gradient(salmon,orange);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/hello-image\ \(4\).jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.middle-banner{
    background-color: black;
    color: white;

}
.pink-color{
    color:rgb(218, 60, 112);
    font-size: 50px;
    font-weight: 700;
}
.resume-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(202, 87, 150),rgb(87, 6, 40));
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}